<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangatari</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div id = "mangatari">

      <a href="" class = "mangatari-logo">Mangatari.com</a>

      <div id = "header">

        <div id = "header-menu" >

          <div class = "header-separator">

            <a href="">
              <i class="fa fa-solid fa-cart-plus"></i>
            </a> 

          </div class = "header-separator"> 

              <a href=""><i class="fas fa-solid fa-user"></i>
              </a>
              
          </div>
      

    <div id = "menu">
      <ul id = "nav">

      </ul>
      
    </div>

    </div>

  </body>

</html>
