<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangatari</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <body>
    
      <div id = "mangatari">
  
        <div id = "header"> 
          
          <div style="display: flex; justify-content: center;">
            <img src="https://www.coolgenerator.com/Data/Textdesign/202211/a8219f3a43a121a6e508e9f95634dd42.png" alt="" id = "mangatari-logo">
          </div>
  
          <div id = "search-bar">
  
            <input type="text" name="search" id="search">
            
          </div>
  
          <div id = "header-menu">
  
            <a href="" class = "link-text">Cart<i class="fa fa-solid fa-cart-plus"></i></a> 
            <a href="" class = "link-text">Sign In<i class="fas fa-solid fa-user"></i></a>
                
          </div>
          
        </div>
  
        <div id = "nav-bar">
  
          <div class="dropdown">
  
            <button class="dropbtn" style="margin-left: 5vw;">Manga</button>
  
            <div class="dropdown-content">
  
              <a href="#">Popular</a>
              <a href="#">Top-Sellers</a>
              <a href="#">View all</a>
  
            </div>
  
          </div>
  
          <div class="dropdown">
  
            <button class="dropbtn">Novels</button>
  
            <div class="dropdown-content">
  
              <a href="#">Popular</a>
              <a href="#">Top-Sellers</a>
              <a href="#">View all</a>
  
            </div>
            
          </div>
  
          <div class="dropdown">
  
            <button class="dropbtn">Doujin</button>
  
            <div class="dropdown-content">
  
              <a href="#">Popular</a>
              <a href="#">Top-Sellers</a>
              <a href="#">View all</a>
  
            </div>
            
          </div>
  
          <div class="dropdown">
  
            <button class="dropbtn">Goods</button>
  
            <div class="dropdown-content">
  
              <a href="#">Popular</a>
              <a href="#">Top-Sellers</a>
              <a href="#">View all</a>
  
            </div>
            
          </div>
  
        </div>
  
        <div style="margin-top: 2vw">
          <img src="https://cdn.myanimelist.net/images/event/TC_20221107_PDA/PDA_PC_top.png" alt="" style="width: 100%;">
        </div>
  a
      </div>
      </div>

    <div class="footer">
      <div class="big-container">
        <div class="left-text">
          <ul>
            <li>
              <a href="#"> HOME</a>
            </li>
            <li>
              <a href="#"> SOBRE NOSOTROS</a>
            </li>
          </ul>
        </div>
        <div class="right-logos">
          <ul>
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i
                  class="fab fa-brands fa-facebook fa-2x"
                  style="margin-left: 2vw"
                ></i>
              </a>
            </li>
            <li>
              <a
                href="https://mail.google.com/mail/u/0/?pli=1#inbox"
                target="_blank"
              >
                <i
                  class="fa fa-regular fa-envelope fa-2x"
                  style="margin-left: 2vw"
                ></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i
                  class="fab fa-brands fa-instagram fa-2x"
                  style="margin-left: 2vw"
                ></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/home" target="_blank">
                <i
                  class="fab fa-brands fa-twitter fa-2x"
                  style="margin-left: 2vw"
                ></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="under-copyright">
        <i class="fa fa-solid fa-copyright"></i> 2022 Mangatari. All rights
        reserved.
      </div>
    </div>
  </body>
</html>
