<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangatari</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body ;>
    <div class="main-container">
      <div id="mangatari">
        <div id="header">
          <div id="search-bar">
            <input
              type="text"
              name="search"
              id="search"
              style="border: solid 1px black; border-radius: 50px"
            />
          </div>

          <div id="header-menu">
            <a href="">Cart<i class="fa fa-solid fa-cart-plus"></i></a>

            <a href=""><i class="fas fa-solid fa-user"></i></a>
          </div>
        </div>

        <div id="menu">
          <ul id="nav"></ul>
        </div>
      </div>
      <div class="main-section">a</div>

      <div class="footer">
        <div class="big-container">
          <div class="left-text">
            <ul>
              <li>
                <a href="#"> HOME</a>
              </li>
              <li>
                <a href="#"> SOBRE NOSOTROS</a>
              </li>
            </ul>
          </div>
          <div class="right-logos">
            <ul>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i
                    class="fab fa-brands fa-facebook fa-2x"
                    style="margin-left: 2vw"
                  ></i>
                </a>
              </li>
              <li>
                <a
                  href="https://mail.google.com/mail/u/0/?pli=1#inbox"
                  target="_blank"
                >
                  <i
                    class="fa fa-regular fa-envelope fa-2x"
                    style="margin-left: 2vw"
                  ></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i
                    class="fab fa-brands fa-instagram fa-2x"
                    style="margin-left: 2vw"
                  ></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/home" target="_blank">
                  <i
                    class="fab fa-brands fa-twitter fa-2x"
                    style="margin-left: 2vw"
                  ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="under-copyright">
          <i class="fa fa-solid fa-copyright"></i> 2022 Mangatari. All rights
          reserved.
        </div>
      </div>
    </div>
  </body>
</html>
