* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mangatari{
    width: 100%;
}

#header{
    background-color: rgb(250, 250, 250);
}

#mangatari-logo{
    width: 50%;
    padding-top: 3vw;
}

#search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2vw;
}

#search{
    width: 70%;
    border: solid 1px black;
    border-radius: 50px;
    height: 3vw;  
}

#header-menu{   
    display: flex;
    justify-content: center;
}

.link-text{
    text-decoration: none;
    font-size: 4vw;
    color: rgb(46, 81, 162);
    
}

.link-text:hover{
    text-decoration: underline;
    color: rgba(46, 81, 162, 0.5);
}

.fa-cart-plus{
    color: rgb(46, 81, 162);
    cursor: pointer;
    font-size: 5vw;
    vertical-align: middle;
    
}
.fa-user {
    color: rgb(46, 81, 162);
    cursor: pointer;
    font-size: 5vw;
    vertical-align: middle;
}

#nav-bar{
    width: 100%;
    margin-top: 2vw;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 3vw;
    font-size: 4vw;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 3vw;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 30vw;
    box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-size: 4vw;
    color: black;
    padding: 1vw 3vw;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}



#logos {
    text-align: center;
    margin-left: 70%;
}

#in-line{
    display: inline;
}

#footer{
    background-color: rgb(238, 238, 238); 
    width: 100vw; 
    padding-left: 2vw; 
    padding-top: 3vh; 
    position: fixed;
    bottom:0px; 
}